.upload-button {
    height: 36px;
    min-width: 120px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: $purple;
    border-radius: 3px;
    color: white;
    @include screen(tiny) {
        min-width: 84px;
    }
}

.button {
    padding: 0 15px;
    height: 36px;
    line-height: 36px;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
    border: none;
    background-color: $purple;
    color: white;
    display: inline-flex;
    text-align: center;
    font-size: inherit;
    font-family: $font;
    &--clear {
        background-color: transparent;
        border-color: transparent;
        color: inherit;
        font-size: inherit;
    }
    &--no-pad {
        padding: 0;
    }
    &--sm {
        font-size: 1.4rem;
        height: 30px;
        line-height: 30px;
        padding: 0 12px;
    }
    &--md {
        font-size: 1.5rem;
        height: 48px;
        line-height: 48px;
        padding: 0 30px;
    }
    &--lg {
        font-size: 1.8rem;
        height: 56px;
        line-height: 56px;
        padding: 0 30px;
    }
    &--full-width {
        width: 100%;
    }
    &--icon-left,
    &--icon-right {
        justify-content: space-between;
        padding: 0;
    }
    &--social-signup {
        flex-grow: 1;
        width: 49%;
        text-align: center;
        font-size: 1.5rem;
        height: 48px;
        line-height: 48px;
        position: relative;
    }
    &--facebook {
        background-color: $facebookBlue;
    }
    &--google {
        background-color: $googleRed;
    }
    &--twitter {
        background-color: $twitterBlue;
    }
    &__icon {
        height: 36px;
        font-size: 2.1rem;
        width: 36px;
        background-color: rgba(0, 0, 0, 0.1);
        display: inline-flex;
        align-items: center;
        justify-content: center;
        .button--icon-left & {
            left: -2px;
            border-top-left-radius: 3px;
            border-bottom-left-radius: 3px;
        }
        .button--icon-right & {
            right: -2px;
            border-top-right-radius: 3px;
            border-bottom-right-radius: 3px;
        }
        .button--md & {
            width: 48px;
            height: 48px;
        }
        .button--lg & {
            width: 56px;
            height: 56px;
        }
    }
    &__text {
        margin: 0 auto;
        .button--icon-left &,
        .button--icon-right & {
            margin: 0 15px;
        }
        .button--full-width & {
            margin: 0 auto;
        }
    }
}
