.item {
    
    margin-bottom: 120px;
    &__content {
    	width: 75%;
    	display: block;
    	margin: 0 auto;
    }
    &__title {
        line-height: 1.2;
        &--lg {
            font-size: 12rem;
            font-weight: 600;
            margin-bottom: 75px;
        }
        &--md {
        	margin-bottom: 15px;
        	font-size: 4.2rem;
        	font-weight: bold;
        }
    }
    &__author {
        font-size: 2.4rem;
        margin-bottom: 10px;
    }
    &__location {
        font-size: 1.3rem;
        letter-spacing: 0.2px;
        text-transform: uppercase;
    }

    &--main {
    	// flex-grow: 1;
    }

    &--snap-bottom {
    	padding: 30px 0;
    	position: absolute;
    	width: 100%;
    	background-color: rgba(0,0,0,0.15);
    	bottom: 0;
    	left: 0;
    	margin-bottom: 0;
    }
}
