.item {
    width: 100%;
    margin-bottom: 120px;
    &__content {
        // width: 75%;
        width: 1200px;
        display: block;
        margin: 0 auto;
        &--about {
            font-size: 1.5rem;
            line-height: 1.7;
            p {
                margin-bottom: 30px;
            }
        }
    }
    &__copy {
        width: 50%;
        color: rgba(0,0,0,0.7);
    }
    &__gallery {
        width: 1200px;
        margin: 75px auto 0px;
        padding: 0;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        .image, a {
            // flex-basis: 49.5%;
            // height: 500px;
            margin-right: 10px;
            flex-grow: 1;
            flex-basis: 24%;
            height: 280px;
            background-color: #ddd;
            margin-bottom: 10px;

            img{
                object-fit: cover;
                object-position: center;
                height: 100%; width: 100%;
            }
        }
    }
    &__title {
        line-height: 1.2;
        &--lg {
            font-size: 12rem;
            font-weight: 600;
            margin-bottom: 75px;
            min-height: 290px;
            max-height: auto;
            transition: max-height 300ms;
        }
        &--md {
            margin-bottom: 15px;
            font-size: 4.2rem;
            font-weight: bold;
        }
        .item__content--about & {
            margin-bottom: 45px;
            color: black;
        }
    }
    &__field {
        line-height: 1.2;
        background-color: transparent;
        color: white;
        border: none;
        &:focus {
            outline: none;
        }
        &--lg {
            font-size: 12rem;
            font-weight: 600;
            margin-bottom: 75px;
        }
        &--author {
            font-size: 2.4rem;
            margin-bottom: 10px;
        }
    }
    &__author {
        font-size: 2.4rem;
        margin-bottom: 10px;
    }
    &__location {
        font-size: 1.3rem;
        letter-spacing: 0.2px;
        text-transform: uppercase;
    }
    &--main {
        // flex-grow: 1;
    }
    &--snap-bottom {
        padding: 30px 0;
        position: absolute;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.15);
        bottom: 0;
        left: 0;
        margin-bottom: 0;
    }
    &--clear {
        background-color: transparent;
    }
}
